.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__uuxIy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uuxIy {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__jui4M {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__jui4M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jui4M > :global(.__wab_flex-container) > *,
.freeBox__jui4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jui4M > :global(.__wab_flex-container) > picture > img,
.freeBox__jui4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jui4M {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jui4M > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jui4M > :global(.__wab_flex-container) > *,
  .freeBox__jui4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jui4M > :global(.__wab_flex-container) > picture > img,
  .freeBox__jui4M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__aAian {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aAian {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text___2QGry {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___2QGry {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox__wbn1J {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__wbn1J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wbn1J {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wbn1J > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__wbn1J > :global(.__wab_flex-container) > *,
  .freeBox__wbn1J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wbn1J > :global(.__wab_flex-container) > picture > img,
  .freeBox__wbn1J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__hgDru:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__hgDru:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__jmMk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__sw54H {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__y8Ubf {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__y8Ubf {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button__iG0Vi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__iG0Vi:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__hIaxe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__drz3O {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__drz3O {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__mIoVh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__c1RU0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__c1RU0 {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__x5L2P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sf68 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rxVcX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rnIcF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rnIcF:global(.__wab_instance) {
    display: none;
  }
}
.svg__oLfgZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iWtPn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___1AiwL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__c4PRk {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img__c4PRk > picture > img {
  object-fit: cover;
}
.img__c4PRk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__c4PRk {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text__tzgZu {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-fEhGoFqkbOydDr);
  color: var(--token-eznJUDVPkbF7Y1);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__tzgZu {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox__dEyp {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__dEyp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__dEyp > :global(.__wab_flex-container) > *,
.freeBox__dEyp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dEyp > :global(.__wab_flex-container) > picture > img,
.freeBox__dEyp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dEyp {
    width: 100%;
    max-width: var(--token-fEhGoFqkbOydDr);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dEyp > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dEyp > :global(.__wab_flex-container) > *,
  .freeBox__dEyp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dEyp > :global(.__wab_flex-container) > picture > img,
  .freeBox__dEyp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__sxoyu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__sxoyu > picture > img {
  object-fit: cover;
}
.img__sxoyu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__sxoyu {
    max-width: 170px;
  }
}
.img__vf6G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vf6G > picture > img {
  object-fit: cover;
}
.img__vf6G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__vf6G {
    max-width: 170px;
  }
}
.img__xDwYb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xDwYb > picture > img {
  object-fit: cover;
}
.img__xDwYb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xDwYb {
    max-width: 170px;
  }
}
.img__fqz3Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__fqz3Z > picture > img {
  object-fit: cover;
}
.img__fqz3Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fqz3Z {
    max-width: 170px;
  }
}
.img___3DcKq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img___3DcKq > picture > img {
  object-fit: cover;
}
.img___3DcKq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__tvRcj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__tvRcj > picture > img {
  object-fit: cover;
}
.img__tvRcj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___3VPcL {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img___3VPcL > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img___3VPcL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___264Fg {
  max-width: var(--token-fEhGoFqkbOydDr);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___264Fg {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__ywRp1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__ywRp1 {
    font-size: 28px;
  }
}
.text___7JHuK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__mv7Ib {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__mv7Ib > picture > img {
  object-fit: cover;
}
.img__mv7Ib > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__mv7Ib {
    max-width: 249px;
  }
}
.img__q2Fur {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__q2Fur > picture > img {
  object-fit: cover;
}
.img__q2Fur > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__q2Fur {
    width: auto;
  }
}
.img__x3NvM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__x3NvM > picture > img {
  object-fit: cover;
}
.img__x3NvM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__x3NvM {
    max-width: 50px;
  }
}
.img___3Dohy {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img___3Dohy > picture > img {
  object-fit: cover;
}
.img___3Dohy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___3Dohy {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__uc2D9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__uc2D9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__uc2D9 > :global(.__wab_flex-container) > *,
.freeBox__uc2D9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uc2D9 > :global(.__wab_flex-container) > picture > img,
.freeBox__uc2D9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uc2D9 {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uc2D9 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uc2D9 > :global(.__wab_flex-container) > *,
  .freeBox__uc2D9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uc2D9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uc2D9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard___6Ibw7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard___6Ibw7:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__dt6Xw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__ngRmK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zFwll {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__zFwll > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__zFwll > :global(.__wab_flex-container) > *,
.freeBox__zFwll > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zFwll > :global(.__wab_flex-container) > picture > img,
.freeBox__zFwll
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zFwll {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zFwll > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zFwll > :global(.__wab_flex-container) > *,
  .freeBox__zFwll > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zFwll > :global(.__wab_flex-container) > picture > img,
  .freeBox__zFwll
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__pFfTl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pFfTl > picture > img {
  object-fit: cover;
}
.img__pFfTl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pFfTl {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__hPdr3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hPdr3 > picture > img {
  object-fit: cover;
}
.img__hPdr3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hPdr3 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__wRcAz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wRcAz > picture > img {
  object-fit: cover;
}
.img__wRcAz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__wRcAz {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__o4Bra {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o4Bra > picture > img {
  object-fit: cover;
}
.img__o4Bra > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__o4Bra {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___2ZLj5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___2ZLj5 > picture > img {
  object-fit: cover;
}
.img___2ZLj5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___2ZLj5 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__b7Bl2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b7Bl2 > picture > img {
  object-fit: cover;
}
.img__b7Bl2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__b7Bl2 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__xpupA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xpupA > picture > img {
  object-fit: cover;
}
.img__xpupA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xpupA {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2___8On9O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__m0Nq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__m0Nq {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__yjWaI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yjWaI {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__qUlJw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-lZkcNCbqKk7yQI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__qUlJw {
    color: var(--token-lZkcNCbqKk7yQI);
  }
}
.text__pmTGo {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pmTGo {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img__fZeIp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__fZeIp > picture > img {
  object-fit: cover;
}
.img__fZeIp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fZeIp {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__e7UdH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__e7UdH {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__h5RoP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__h5RoP > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__h5RoP > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__h5RoP > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__h5RoP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__h5RoP > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bNk3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__bNk3J {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__vz5P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__vz5P > picture > img {
  object-fit: cover;
}
.img__vz5P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ixOox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ixOox {
    padding: 4px 0px;
  }
}
.img__cW8Dl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__cW8Dl > picture > img {
  object-fit: cover;
}
.img__cW8Dl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__rFKgH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__rFKgH {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__cm26I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__cm26I > picture > img {
  object-fit: cover;
}
.img__cm26I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__yMcbj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__yMcbj > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__yMcbj > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__yMcbj > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yMcbj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yMcbj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vOn05 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__vOn05 {
    padding-right: 0px;
  }
}
.img___8XciN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img___8XciN > picture > img {
  object-fit: cover;
}
.img___8XciN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__nEcKn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nEcKn {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__amtJl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__amtJl > picture > img {
  object-fit: cover;
}
.img__amtJl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jpPy7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__jpPy7 {
    padding-left: 0px;
  }
}
.img__vviYn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__vviYn > picture > img {
  object-fit: cover;
}
.img__vviYn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xLdRq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__ek1Qp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__jrVLg {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__jrVLg {
    font-size: 16px;
  }
}
.button__k881P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__k881P:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__o7Naa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__vp5Eq {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__fuZdj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__un0Yx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__un0Yx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__un0Yx > :global(.__wab_flex-container) > *,
.freeBox__un0Yx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__un0Yx > :global(.__wab_flex-container) > picture > img,
.freeBox__un0Yx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__un0Yx {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__un0Yx > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__un0Yx > :global(.__wab_flex-container) > *,
  .freeBox__un0Yx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__un0Yx > :global(.__wab_flex-container) > picture > img,
  .freeBox__un0Yx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__lUyZx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__y3S2T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__xovH5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__xovH5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xovH5 > :global(.__wab_flex-container) > *,
.freeBox__xovH5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xovH5 > :global(.__wab_flex-container) > picture > img,
.freeBox__xovH5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xovH5 > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xovH5 > :global(.__wab_flex-container) > *,
  .freeBox__xovH5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xovH5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xovH5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__pPieU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__qeX0D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__a12Hm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__ypKzK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-lZkcNCbqKk7yQI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__ypKzK {
    padding-top: 18px;
  }
}
.freeBox__g4AQt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__g4AQt {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__pGSbH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__takXl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__takXl > picture > img {
  object-fit: cover;
}
.img__takXl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__takXl {
    max-width: 339px;
  }
}
.freeBox__vnKtt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__nIpm6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-lZkcNCbqKk7yQI);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__nIpm6 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__gl3CZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__gl3CZ {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__q6LKt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__q6LKt > picture > img {
  object-fit: cover;
}
.img__q6LKt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__uWTe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uWTe {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__qSiWb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__qSiWb {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__s79Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__s79Q > picture > img {
  object-fit: cover;
}
.img__s79Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__s79Q {
    width: auto;
    align-self: flex-start;
  }
}
.text__rZKp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rZKp {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__f78Rg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__f78Rg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f78Rg {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f78Rg > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__f78Rg > :global(.__wab_flex-container) > *,
  .freeBox__f78Rg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f78Rg > :global(.__wab_flex-container) > picture > img,
  .freeBox__f78Rg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__kc1Zv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__ko9Tq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__rQ8SX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__bxsp7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__bxsp7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bxsp7 {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bxsp7 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__bxsp7 > :global(.__wab_flex-container) > *,
  .freeBox__bxsp7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bxsp7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bxsp7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__so7Ox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__eVhOo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__fcdkg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__chxfk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__chxfk > picture > img {
  object-fit: cover;
}
.img__chxfk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__chxfk {
    display: none !important;
  }
}
.img__izxi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__izxi > picture > img {
  object-fit: cover;
}
.img__izxi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__izxi {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2AjXl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2AjXl {
    margin-bottom: 0px;
  }
}
.img__zWhBc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__zWhBc > picture > img {
  object-fit: cover;
}
.img__zWhBc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__dnfpi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__dnfpi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__dnfpi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dnfpi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dnfpi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__drj0I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__drj0I {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-lZkcNCbqKk7yQI);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__cklrk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-lZkcNCbqKk7yQI);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__cklrk {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__baeau {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__baeau {
    padding-bottom: 38px;
  }
}
.button__xwzWn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__xwzWn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__lrtZ7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__goHem {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__pJgyv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__rS7UV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__yAXb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__yAXb > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.columns__yAXb > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__yAXb > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__yAXb > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__yAXb > :global(.__wab_flex-container) > *,
.columns__yAXb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yAXb > :global(.__wab_flex-container) > picture > img,
.columns__yAXb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yAXb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yAXb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__yAXb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 52px) * 12 / 12);
  }
}
.column__i1Udi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__nygJl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__rsQps {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__stzXb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__stzXb:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__jbt9P {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__hvpXd {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hvpXd {
    top: 85px;
    font-size: 14px;
  }
}
.column__vys6B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__bzyRo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__bzyRo:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
