.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__b7Kkl {
  display: flex;
  position: relative;
  max-width: var(--token-fEhGoFqkbOydDr);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__b7Kkl > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__b7Kkl > :global(.__wab_flex-container) > *,
.freeBox__b7Kkl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b7Kkl > :global(.__wab_flex-container) > picture > img,
.freeBox__b7Kkl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__b7Kkl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__b7Kkl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__b7Kkl > :global(.__wab_flex-container) > *,
  .freeBox__b7Kkl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b7Kkl > :global(.__wab_flex-container) > picture > img,
  .freeBox__b7Kkl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hntu9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hntu9 {
    justify-content: center;
  }
}
.freeBox__dboPu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__pLqhj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pLqhj {
    text-align: center;
  }
}
.freeBox__sjPaq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__sjPaq {
    align-self: center;
    justify-content: center;
  }
}
.svg__mgEmN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__g2V6E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__zNpT2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__kBXf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__fYx5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__fYx5 {
    justify-content: center;
  }
}
.h4__xeEy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__xeEy {
    text-align: center;
  }
}
.button__iHJ0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__iHJ0:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__dsQs6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wVaTw {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wVaTw {
    text-align: center;
  }
}
.svg___1LAeB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__g8UgN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__g8UgN:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wKpjS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v24Zz {
  color: #92959b;
}
.svg__nToXh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kn9S4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__kn9S4:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__pwdrY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___8YHp0 {
  color: #92959b;
}
.svg__yjApq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bRaM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__bRaM:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__rLzJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hkwAf {
  color: #92959b;
}
.svg__bUwsX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__skWae {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__skWae {
    justify-content: center;
  }
}
.h4__rMl5D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__rMl5D {
    align-self: center;
    text-align: center;
  }
}
.button__vKh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__vKh:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__i7Q0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ybd8N {
  color: #92959b;
}
.svg__uf3Qf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tvw3R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tvw3R:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__l0MeL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__q0Fje {
  color: #92959b;
}
.svg__bYzRg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__bX0E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__bX0E {
    justify-content: center;
  }
}
.h4__pKIz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__pKIz {
    align-self: center;
    text-align: center;
  }
}
.button__pyViA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__pyViA:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__doBEr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yqk4F {
  color: #92959b;
}
.svg___1CYhM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4Eg4A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___4Eg4A:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__t8EQp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mYbxI {
  color: #92959b;
}
.svg__td63Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mmYkh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__mmYkh:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__urRiw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ss5Fe {
  color: #92959b;
}
.svg__qcIXp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ezWnT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__zaRr7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zaRr7 {
    padding-top: 129px;
  }
}
